@mixin headerImage {
  background-image: url(../assets/header-home.jpg);
}

@mixin blogHeaderImage {
  background-image: url(../assets/blog-image.jpg);
}

@mixin contactHeaderImage {
  background-image: url(../assets/contact-image.jpg);
}

@mixin tabletSize1100 {
  @media (max-width: 1100px) {
    .mainDiscoverContainer {
      padding-top: 5vh;
    }
  }
}

@mixin tabletSize800 {
  @media (max-width: 900px) {
    body {
      overflow-x: hidden;
      .wrapper {
        width: 95%;
      }
    }

    .indexHeader {
      background-size: cover;
      height: 45vh;
    }

    .blueCouch {
      top: 25%;
    }

    .mainDiscoverContainer {
      padding-top: 30vh;
      .discoverTxtContainer {
        width: 55%;
      }
      .greyCouch {
        margin: 10% 15% 0 0;
      }
    }

    .mainDiscoverContainer {
      .buttonOneContainer {
        justify-content: flex-start;
      }
    }

    .threeImgContainer {
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 30px 0;
    }

    .aboutSection {
      padding: 30px 0 80px 0;
    }

    .searchText {
      padding: 40px 0 50px 0;
    }

    .groupProgramsContainer {
      margin-left: 5%;
    }

    .newLocationsContainer {
      margin-right: 5%;
    }

    .mainTextContainer {
      padding: 50px 10px 50px 10px;
    }

    .sideNotes {
      width: 33%;
    }

    .comments {
      width: 100%;
      h3 {
        text-align: center;
      }
    }

    .contactHeader {
      h1 {
        width: 100%;
        text-align: center;
      }
    }

    .contactInfo {
      .form {
        width: 100%;
        right: 0;
      }
    }

    .contactDes {
      display: flex;
      justify-content: center;
      padding: 0 0 80px 0;
      width: 100%;
      text-align: center;
    }

    .contactInfo {
      flex-direction: column;
    }

    ///////NAV MENU STARTS//////

    .navMenu {
      padding: 15px;
      position: absolute;
      right: -170px;
      top: 92px;
      height: 230px;
      background-color: rgba(224, 253, 223, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      z-index: 1;
      transition: 0.7s ease-in-out;
    }

    input[type="checkbox"]:checked + .navMenu {
      right: 5px;
    }

    .burger {
      display: block;
    }
  }
}

@mixin phoneSize600 {
  @media (max-width: 700px) {
    .indexHeader h1 {
      width: 100%;
      text-align: center;
    }
    .mainDiscoverContainer {
      width: 100%;
      padding-top: 20vh;
      .discoverContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        p {
          margin-bottom: 30px;
        }
        .discoverTxtContainer {
          width: 100%;
        }
        .greyCouch {
          width: 100%;
        }
      }
    }

    .aboutSection {
      ul {
        flex-direction: column;
        li {
          width: 100%;
        }
      }
    }

    .indexArticle{
      padding-bottom: 50px;
    }

    //END OF INDEX HTML//

    .blogHeader h1 {
      width: 100%;
      text-align: center;
    }
    .blogContainer {
      flex-direction: column;
      .mainBlog {
        width: 100%;
      }
    }

    .mainTextContainer {
      box-shadow: none;
      padding-bottom: 30px;
      h3 {
        width: 100%;
        text-align: center;
      }
      p {
        text-align: center;
      }
    }

    .sideNotes {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: relative;
      top: -155px;
      img {
        box-shadow: none;
      }
      .sideTextContainer {
        text-align: center;
        box-shadow: none;
        padding-bottom: 0px;
        h3 {
          padding-top: 30px;
        }
        p {
          text-align: center;
        }
      }
    }
  }
}

@mixin phoneSize500 {
  @media (max-width: 500px) {
    .indexHeader {
      h1 {
        font-size: 4rem;
        margin-top: 75px;
      }
      img {
        display: none;
      }
    }

    .mainDiscoverContainer{
      padding-top: 5vh;
    }

    .sideNotes{
      .sideTextContainer{
        padding-bottom:50px;
      }
      img{
        display: none;
      }
    }
  }
}
